@page "/"

<h1>Prepare For Your Journey with <em>Traveless!</em></h1>
<div class="container">
    <div class="row">
        <div class="col-9" ><a href="#">Before You Fly</a></div>
        <div class="col-4" ><a href="#">Baggage Information</a></div>
        <div class="col-6" ><a href="#">Airport Information</a></div>
    </div>
</div>

