.row {
    display: flex;
}

h1 {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
em{
    color:red;
  
}

.col-9, .col-4, .col-6 {
    border: 0.5px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    color: #ffffff; /* Set text color to white for better visibility on images */
    font-weight: 900;
    text-shadow: 2px 2px black;
}

.col-9 {
    background-image: url("Img/prerequisite.jpg");
}

    .col-9:hover {
        box-shadow: black;
        transition: 0.5s;
    }

.col-4 {
    background-image: url("Img/luggage.jpeg");
}

.col-6 {
    background-image: url("Img/airport.jpeg");
}

    .col-9 a, .col-4 a, .col-6 a {
        text-decoration: none;
        color: inherit;
    }
